<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Spal.Transcriber{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  {% block head %}{% endblock %}
</head>
<body>
  {% include "partials/_navbar.html" %}
  <div class="shell" data-aos="fade-up">
    <main class="container">
      {% include "partials/_flash.html" %}
      {% block content %}{% endblock %}
    </main>
  </div>
  {% block scripts %}{% endblock %}
</body>
</html>
